<% provide(:title, "About Us") %>

<div class="center jumbotron">
  <h1>About ePerlego</h1>

  <h3>ePerlego is a social VLE, promoting student performance and parent involvement by providing academic insight.</h3>
</div>
