<% provide(:title, "Contact Us") %>

<div class="center jumbotron">
  <h1>Contact Us</h1>

  <h3>Please email <a href="mailto:hello@alexmacpherson.uk?Subject=ePerlego" target="_top">hello@alexmacpherson.uk</a> for any queries/information.</h3>
</div>
