@import "bootstrap-sprockets";
@import "bootstrap";

/* Mixins, Vars, etc. */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* Universal */

body {
  padding-top: 60px;
  font-family: 'Rubik', sans-serif;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1, h2, h3 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
}

h2, h3 {
  font-size: 2.1em;
  letter-spacing: -1.5px;
  font-weight: normal;
  color: $gray-light;
}

h3 {
  font-size: 1.5em;
  letter-spacing: -1px;
}

.jumbotron h1{
  font-family: 'Bree Serif', serif;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  word-wrap: break-word;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 2.1em;
  color: #eee;
  letter-spacing: -1px;
  padding-top: 4px;
  font-weight: bold;

  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.nav >li:hover {
  background: #111;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $gray-light;

  a {
    color: #555;

    &:hover {
      color: #222;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* Misc. */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.gravatar {
  margin-right: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 3px #777;
  background-color:#337ab7;
  display: inline-block;
  //font-family: 'Bree Serif', serif;
  text-shadow: 0px 0px 4px #777;
  font-weight: bold;
  color:#eee;
  cursor: default;
}

.gravatar_edit {
  margin-left: 10px;
  margin-bottom: 5px;
}

.gravatar_change {
  margin-top: 10px;
  margin-bottom: 10px;
}

.nav .gravatar {
  position: absolute;
  border-radius: 2px;
  top: 8px;
  right: 20px;
  box-shadow: 0px 0px 3px #111;
  cursor: pointer;
}

/* Forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users, .schools {
  list-style: none;
  margin: 0;

  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }

  .gravatar {
    border-radius: 5px
  }
}

.schools {
  li {
    color: $gray-light;
  }
}

.bio {
  background-color: #eee;
  border-radius: 6px;
  margin-left: 60px;
  margin-right: 60px;
  padding: 15px;
  padding-bottom: 5px;
}

.usr {
  min-height: 140px;
}

.usr .gravatar {
  float: right;
  margin-right: 20px;
}

.u-av {
  margin-top: 13px;
  float: left;
  width: 25%;
}

.u-name, .u-school, .u-email, .u-edit {
  float: left;
  text-align: left;
  margin: 5px;
  width: 70%;
}

.u-name, .u-edit {
  width: auto;
}

.u-edit {
  font-size: 1.5em;
  margin-top: 12px;
}

.usr_colour {
  cursor: pointer;
}
